
.about-thumb-monster {
  width: 300px;
  height: 400px;
  position: relative;
  margin-left: 10%;

  &:before {
    background-color: #2b2e3a;
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    height: 146px;
    width: 398px;
    left: -54px;
    bottom: -41px;
    box-shadow: 0 8px 26px 9px #2b2e3a;
    z-index: 1;
  }
}

.about-thumb {
  border: 5px solid #d9c14c;
  background-color: #d9c14c;
  width: 260px;
  height: 270px;
  border-radius: 80px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 98px;
  z-index: 3;
  animation: munch 2s infinite;

  // &:before {
  //   background-color: #d9c14c;
  //   border-radius: 107px;
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   height: 280px;
  //   width: 260px;
  //   top: -10px;
  //   left: -5px;
  // }

  picture {
    border: 2px solid #d1ba4a;
    display: block;
    border-radius: 77px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }


  img {
    height: 100%;
  }
}

.about-thumb-monster-ear {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100px;
  left: 5%;
  width: 90%;
  top: -50px;

  &:after,
  &:before {
    background: #f8e672;
    content: '';
    display: block;
    height: 100%;
    width: 100px;
    border-radius: 60px;
    position: relative;
    border: 20px solid #d9c14c;
    box-shadow: inset 0px 9px 0 #f5da52;
  }

  &:before {
    transform: rotate(-20deg)
  }
  &:after {
    transform: rotate(20deg)
  }
}

.about-thumb-monster-mouth {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   background-color: #fff;
  //   height: 40px;
  //   width: 24px;
  //   border-radius: 5px;
  //   transform: rotate(9deg) skewX(16deg);
  // }
}
.about-thumb-monster-teeth-top,
.about-thumb-monster-teeth-bottom {
  display: block;
  width: 100%;
  height: 50%;

  span {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 40px;
    width: 24px;
    border-radius: 5px;
    box-shadow: 0 0 3px #d1ba4a;

    &:before,
    &:after  {
      content: '';
      display: block;
      position: absolute;
      background-color: #fff;
      height: 40px;
      width: 24px;
      border-radius: 5px;
      box-shadow: 0 0 3px #d1ba4a
    }
  }
}

.about-thumb-monster-teeth-top {
  span {
    &:nth-child(1) {
      transform: rotate(9deg) skewX(16deg);
      &:before {
        left: 45px;
        top: -26px;
        transform: rotate(36deg) skewX(16deg)
      }

      &:after {
        left: 89px;
        top: -36px;
        transform: rotate(55deg) skewX(19deg)
      }
    }

    &:nth-child(2) {
      left: 122px;
      top: -29px;
      transform: rotate(53deg) skewX(16deg);
      width: 40px;

      &:before {
        left: 45px;
        width: 40px;
        top: -41px;
        transform: rotate(29deg) skewX(16deg)
      }

      &:after {
        left: 108px;
        top: -59px;
        transform: rotate(55deg) skewX(19deg)
      }
    }
  }
}

.about-thumb-monster-teeth-bottom {
  span {
    &:nth-child(1) {
      transform: rotate(-9deg) skewX(-16deg);
      bottom: 0;

      &:before {
        left: 45px;
        bottom: -26px;
        transform: rotate(-36deg) skewX(-16deg)
      }

      &:after {
        left: 89px;
        bottom: -36px;
        transform: rotate(-55deg) skewX(-19deg)
      }
    }

    &:nth-child(2) {
      left: 122px;
      bottom: -29px;
      transform: rotate(-53deg) skewX(-16deg);
      width: 40px;

      &:before {
        left: 45px;
        width: 40px;
        bottom: -41px;
        transform: rotate(-29deg) skewX(-16deg)
      }

      &:after {
        left: 108px;
        bottom: -59px;
        transform: rotate(-55deg) skewX(-19deg)
      }
    }
  }
}


.about-thumb-monster-head {
  border-radius: 100px;
  background-color: #f8e672;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  box-shadow: inset 0 -20px 0 #f5da53, inset 0 12px 8px 1px #f5da53;
}


.about-thumb-monster-eyes {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 50px;
  margin: 0 auto;
  top: 25px;
  position: relative;

  span {
    background-color: #d1ba4a;
    width: 30px;
    height: 100%;
    border-radius: 50px;
    // overflow: hidden;

    &:after {
      background-color: #fa6363;
      content: '';
      width: 30px;
      height: 15px;
      position: absolute;
      border-radius: 50%;
      bottom: -13;
    }

    &:before {
      border-radius: 50px;
      background-color: #12110d;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      transform-origin: bottom;
      animation:  blink 5s infinite;
    }

    &:first-child {
      &:after {
        left: -30px;
      }
    }

    &:last-child {
      &:after {
        right: -30px
      }
    }
  }
}

.about-thumb-moster-left-hand,
.about-thumb-moster-right-hand {
  background-color: #f8e672;
  display: block;
  position: absolute;
  height: 80px;
  bottom: 153px;
  width: 150px;
  border-radius: 38px;
  z-index: 1;

  // span {
  //   background-color: #f8e672;
  //   display: block;
  //   position: absolute;
  //   height: 120px;
  //   width: 100px;
  //   border-radius: 50px;
  //   top: -20px;
  // }
}

.about-thumb-moster-left-hand {
  left: -100px;
  transform: rotate(-29deg);
  box-shadow: inset -49px -9px 0 #f5da52;
}

.about-thumb-moster-right-hand {
  right: -100px;
  transform: rotate(29deg);
  box-shadow: inset 49px -9px 0 #f5da52;
}

.about-thumb-moster-left-feet,
.about-thumb-moster-right-feet {
  background-color: #f8e672;
  display: block;
  position: absolute;
  height: 100px;
  bottom: -26px;
  width: 161px;
  border-radius: 38px;
  z-index: 1;

  span {
    background-color: #f8e672;
    display: block;
    position: absolute;
    height: 120px;
    width: 100px;
    border-radius: 50px;
    top: -20px;
  }
}

.about-thumb-moster-left-feet {
  left: -80px;
  transform: rotate(-29deg);

  span {
    left: -21px;
    box-shadow: inset -10px 17px 0 #f5da52;
    animation:  twist_feet_left 5s infinite;
  }
}

.about-thumb-moster-right-feet  {
  right: -80px;
  transform: rotate(29deg);
  span {
    right: -21px;
    box-shadow: inset 10px 17px 0 #f5da52;
    animation:  twist_feet_right 5s infinite;
  }
}

@keyframes twist_feet_right {
  0% {
    transform: rotate(0deg);
  }
  50% {
   transform: rotate(-20deg);
  }
  100% {
   transform: rotate(0deg);
  }
}
@keyframes twist_feet_left {
  0% {
    transform: rotate(0deg);
  }
  50% {
   transform: rotate(20deg);
  }
  100% {
   transform: rotate(0deg);
  }
}

@keyframes munch {
  0% {
    transform: scaleY(1);
  }
  50% {
   transform: scaleY(0.95);
  }
  100% {
   transform: scaleY(1);
  }
}

@keyframes blink  {
	0%{
		transform:scaleY(1)
	}
	18%{
		transform:scaleY(1)
	}
	20%{
		transform:scaleY(0)
	}
	25%{
		transform:scaleY(1)
	}
	38%{
		transform:scaleY(1)
	}
	40%{
		transform:scaleY(0)
	}
	45%{
		transform:scaleY(1)
	}
	80% {
		transform:scaleY(1)
	}
}
