@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.accent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  svg {
    width: 100%;
    height: 100%;
  }
}

.accent-tri {
  position: absolute;
  display: block;
  transition: transform 1s ease;

  // .is-north & {
  //   transform: translateY(-20px);
  // }
  //
  // .is-south & {
  //   transform: translateY(20px);
  // }
  //
  // .is-east & {
  //   transform: translateX(20px);
  // }
  // .is-west & {
  //   transform: translateX(-20px);
  // }

  &:before {
    content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../images/triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.tri-1 {
    height: 100px;
    width: 100px;
    left: 0;
    top: 10%;
  }

  &.tri-2 {
    height: 30px;
    width: 30px;
    left: 5%;
    top: 60%;
  }

  &.tri-3 {
    height: 200px;
    width: 200px;
    left: 85%;
    top: 51%;
  }

  &.tri-4 {
    height: 60px;
    width: 60px;
    left: 55%;
    top: 45%;
  }

  &.tri-5 {
    height: 180px;
    width: 180px;
    left: 87%;
    top: -10%;

  }

  &.tri-6 {
    height: 30px;
    width: 30px;
    left: 70%;
    top: 55%;
  }
  &.tri-7 {
    height: 50px;
    width: 50px;
    left: 25%;
    top: 2%;
  }

  &.tri-8 {
    height: 50px;
    width: 50px;
    left: 25%;
    top: 90%;
  }
  &.tri-9 {
    height: 100px;
    width: 100px;
    left: 62%;
    top: 73%;
  }

  &.tri-10 {
    height: 20px;
    width: 20px;
    left: 64%;
    top: 8%;
  }

  &.tri-11 {
    height: 20px;
    width: 20px;
    left: 89%;
    top: 35%;
  }

  &.tri-12 {
    height: 50px;
    width: 50px;
    left: 104%;
    top: 35%;
  }
}

.accent-tri-dash {
  position: absolute;
  display: block;
  animation: rotate 100s linear infinite;

  svg {
    width: 100%;
    height: 100%;
  }

  .tri {
    fill: transparent;
    stroke: #000;
    stroke-width: 5;
    stroke-dasharray: 20;
  }

  &.tri-1 {
    height: 200px;
    width: 200px;
    left: 46%;
    top: -42px;
    transform: rotate(60deg);
  }

  &.tri-2 {
    height: 50px;
    width: 50px;
    left: 3%;
    top: 60%;
  }

  &.tri-3 {
    height: 120px;
    width: 120px;
    left: 50%;
    top: 60%;
  }

  &.tri-3 {
    height: 190px;
    width: 190px;
    left: 80%;
    top: 60%;
  }

  &.tri-4 {
    height: 90px;
    width: 90px;
    left: 80%;
    top: 20%;
  }
  &.tri-4,
  &.tri-5,
  &.tri-6 {
    height: 90px;
    width: 90px;
    .tri {
      fill: transparent;
      stroke: #000;
      stroke-width: 10;
      stroke-dasharray: 0;
    }
  }

  &.tri-4 {
    left: 50%;
    top: 50%;
  }

  &.tri-5 {
    left: 91%;
    top: 23%;
  }

  &.tri-6 {
    height: 40px;
    width: 40px;

    left: 81%;
    top: 10%;
  }

  &.tri-7 {
    height: 70px;
    width: 70px;

    left: 8%;
    top: 94%;

    .tri {
      stroke-width: 15;

      stroke-dasharray: 50;
    }
  }

  &.tri-8 {
    height: 200px;
    width: 200px;

    top: -15%;
    left: 5%;
  }
}

.accent-skill {
  height: 800px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.accent-circle {
  background-color: $color-primary;
  position: absolute;
  border-radius: 50%;

  &.c-1 {
    height: 30px;
    width: 30px;
    left: 26%;
  }

  &.c-2 {
    height: 100px;
    width: 100px;
    left: 8%;
    top: 50%;
  }

  &.c-3 {
    height: 10px;
    width: 10px;
    left: 8%;
    top: 70%;
  }

  &.c-4 {
    height: 40px;
    width: 40px;
    left: -2%;
    top: 80%;
  }

  &.c-5 {
    height: 120px;
    width: 120px;
    left: 29%;
    top: 105%;
  }

  &.c-6 {
    height: 30px;
    width: 30px;
    left: 18%;
    top: 90%;
  }

  &.c-7 {
    height: 130px;
    width: 130px;
    left: -5%;
    top: 5%;
  }

  &.c-8 {
    height: 20px;
    width: 20px;
    left: 5%;
    top: 32%;
  }
  &.c-9 {
    height: 50px;
    width: 50px;
    left: 107%;
    top: 95%;
  }

  &.c-10 {
    height: 40px;
    width: 40px;
    left: 32%;
    top: 62%;
  }
}

.accent-circle-opacity {
  background-color: $color-primary;
  position: absolute;
  border-radius: 50%;


  &.c-1 {
    height: 50px;
    width: 50px;
    left: 4%;
    top: 113%;
    opacity: 0.7;
  }

  &.c-2 {
    height: 170px;
    width: 170px;
    left: 26%;
    top: 20%;
    opacity: 0.5;
  }
}




@for $i from 1 through 20 {
  .accent-tri.tri-#{$i} {
    &:before {
      transform: rotate(#{randomNum(0, 100)}deg);
    }
  }
}

@for $i from 2 through 20 {
  .accent-tri-dash.tri-#{$i} {
    svg {
      transform: rotate(#{randomNum(0, 100)}deg);
    }
  }
}




@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
