.animation-heart {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;

  span {
    background-image: url('../../images/heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    position: absolute;
    opacity: 0.1;
  }
}
