.cmn-heading {
  text-align: center;
  margin-bottom: 20px;
  // z-index: 1;
  position: relative;
}

.cmn-heading-text {
  display: inline-block;
  font-size: 11vw;
  position: relative;
  text-align: center;

  @include mq(1024, min) {
    font-size: 115px;
  }

  .cmn-heading-text-inner {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    position: relative;
    z-index: 1;
  }
}

.cmn-heading-accent {
  display: block;
  position: absolute;
  height: px-to-vw(300, 1024);
  width: px-to-vw(300, 1024);
  border-radius: 50%;
  background-color: $color-1;

  @include mq(1024, min) {
    height: 300px;
    width: 300px;
  }
}

.cmn-heading-skill {
  text-align: center;

  .cmn-heading-text-inner {
    display: inline-block;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 30px;
      background: #000;
      bottom: -10px;
      z-index: 1;

      @include mq(768) {
        height: 15px;
      }

    }
  }

  .cmn-heading-accent {

    @include mq(1024) {
      right: -42%;
      top: 0;
    }

    @include mq(1024, min) {
      right: -200px;
      bottom: -150px;
    }
    // z-index: -1;

  }
}

.cmn-heading-experiment {
  text-align: center;

  .cmn-heading-accent {

    @include mq(1024) {
      left: -10%;
      top: -27%;
    }

    @include mq(1024, min) {
      left: -90px;
      bottom: -75px;
    }
  }
}

.cmn-heading-contact {
  text-align: center;

  .cmn-heading-accent {
    left: 24%;

    @include mq(1024) {
      top: -27%;
    }

    @include mq(1024, min) {
      bottom: -69px;
    }
  }
}

.cmn-heading-project {
  text-align: center;

  .cmn-heading-accent {
    right: -15%;

    @include mq(1024) {
      top: -27%;
    }

    @include mq(1024, min) {
      bottom: -69px;
    }
  }
}
