.l-wrapper {
  overflow: hidden;
  width: 100%;

}

.l-main {
  width: 100%;
  // padding: 0 6%;
}

.l-section {
  padding: 50px 0;
  margin-bottom: 100px;
}

.l-container {
  position: relative;
  padding: 0 6%;
}
