.mv {
  display: block;
  position: relative;

  padding: 20px 0;
  height: 100vh;

  @include mq(1024, min) {
    margin-bottom: 100px;
    min-height: 750px;
  }

}


.mv-inner {
  display: flex;
  // justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  padding: 0 5%;
  flex-wrap: wrap;

  @include mq(768, min) {
    align-items: center;
    padding: 0 50px;
  }

}

.mv-thumb {
  background-color: $color-1;
  // width: px-to-vw(500, 1366);
  // position: absolute;
  z-index: 1;
  border-radius: 50%;
  // height: px-to-vw(520, 1366);
  // padding-bottom: 63%;
  margin-top: 50px;

  height: px-to-vw(600,1280);
  width: px-to-vw(600,1280);
  left: 0px;
  position: relative;

  @include mq(1366, min) {
    height: 650px;
    width: 650px;
  }

  @include mq(768) {
    height: px-to-vw(600,756);
    width: px-to-vw(600,756);
    margin: 0 auto;
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 20px;
    top: 50px;
    z-index: -1;
    animation: rotate 50s linear infinite;

    circle {
      stroke: $color-1;
      stroke-dasharray: 18px;
      stroke-width: 3px;
    }
  }

  picture {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    // position: absolute;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  img {
    width: 100%;
  }
}

.mv-thumb-accent {
  display: block;
  position: absolute;
  background-color: $color-2;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  left: -13%;
  top: -10%;
}

.mv-dtl {
  display: block;
  position: relative;
  z-index: 1;
  padding-right: 40px;

  @include mq(1024, min) {
    margin-bottom: 50px;
  }

  @include mq(768) {
    width: 100%;
  }

  @include mq(768, min) {
    position: absolute;
    left: 40%;
    top: 52%;
    transform: translateY(-50%);
  }
}

.mv-info {
  width: 100%;
  display: block;
  z-index: 1;

  position: relative;

  @include mq(768, min) {
      padding-left: 25%;
  }

}

.mv-name {
  color: #fff;
  display: block;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;

  @include mq(1024, min) {
    margin-bottom: 50px;
  }

  @include mq(768) {
    width: 100%;
    text-align: center;
  }



  span {
    display: block;
    font-size: 80px;
    line-height: 1.1;
    font-weight: 900;
    letter-spacing: 0.05em;

    @include mq(768, min) {
      font-size: 9vw;
    }

    @include mq(768) {
      width: 100%;
      text-align: center;
    }

    text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);

    @include mq(1366, min) {
      font-size: 130px;
    }
  }

  .mv-info-name {
    color: $color-2;

    text-shadow:
    0 1px 0 #dba04c,
    0 2px 0 #b78540,
    0 3px 0 #a57839,
    0 4px 0 #a57839,
    0 5px 0 #5c4320,
    0 6px 1px rgb(0 0 0 / 10%),
    0 0 5px rgb(0 0 0 / 10%),
    0 1px 3px rgb(0 0 0 / 30%),
    0 3px 5px rgb(0 0 0 / 20%),
    0 5px 10px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 20%),
    0 20px 20px rgb(0 0 0 / 15%);
  }
}

.mv-info-txt {
  display: block;
  // padding-left: 30px;
  color: #ebcccc;
  margin-bottom: 20px;
  font-size: 14px;

  @include mq(1024, min) {
    font-size: 18px;
  }

  @include mq(768) {
    width: 100%;
    text-align: center;
  }

}

.mv-info-subtxt {
  // padding-left: 30px;
  color: #f9deaf;
  font-size: 14px;

  @include mq(1024, min) {
    font-size: 18px;
  }

  @include mq(768) {
    width: 100%;
    text-align: center;
  }

}

$btn-box-height: 5px;/* for now only px not rem */


.mv-resume {
  background-color: $color-2;
  margin-top: 10px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #000;
  transition: all 0.2s ease;

  box-shadow: 0 1px 0 #dba04c,
  0 2px 0 #b78540,
  0 3px 0 #a57839,
  0 4px 0 #a57839,
  0 5px 0 #5c4320,
  0 6px 1px rgb(0 0 0 / 10%),
  0 0 5px rgb(0 0 0 / 10%),
  0 1px 3px rgb(0 0 0 / 30%),
  0 3px 5px rgb(0 0 0 / 20%),
  0 5px 10px rgb(0 0 0 / 25%),
  0 10px 10px rgb(0 0 0 / 20%),
  0 20px 20px rgb(0 0 0 / 15%);

  &:hover {
    transform: translate3d(0, $btn-box-height + 1, 0);
    box-shadow: 0 1px 0 #dba04c,
    0 0 0 #b78540,
    0 0 0 #a57839,
    0 0 0 #a57839,
    0 0 0 #5c4320,
    0 0 1px rgb(0 0 0 / 10%),
    0 0 5px rgb(0 0 0 / 10%),
    0 1px 3px rgb(0 0 0 / 30%),
    0 3px 5px rgb(0 0 0 / 20%),
    0 5px 10px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 20%),
    0 20px 20px rgb(0 0 0 / 15%);
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
