.project-item {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;

  &:nth-child(even) {

    .cmn-web {
      order: 2;
    }

    .project-info {
      order: 1;
    }
  }

  a {
    color: $color-3;
    display: flex;
    width: 100%;
  }
}

.project-info {
  width: 40%;
  height: 200px;
}
