//import the common styles
@import '../../../styles/styles';

.skills {
	background-color: $color-2;
	min-height: 100vh;
	width: 100%;
	padding: rem(100) rem(56);
	position: relative;
	overflow: hidden;
	// max-height: rem(950);

	h2 {
		color: $color-6 !important;
	}
}

.skills__list {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: rem(56);
	margin: rem(56) auto 0;
	row-gap: rem(24);
	max-width: rem(1280);
	z-index: 1;
}

.skills__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: rem(180);
	height: rem(180);

	p {
		margin-top: rem(16);
		text-transform: uppercase;
		font-size: rem(18);
		color: $color-6;
	}	
}

.skills__icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: rem(120);
	height: rem(120);
	border: rem(5) solid $color-6;
	

	svg {
		height: rem(80);

		path {
			fill: $color-6;
		}
	}

	&_html,
	&_css,
	&_reactjs {
		svg {
			height: rem(80);
		}
	}

	&_javascript,
	&_scss,
	&_wordpress, 
	&_git {
		svg {
			height: rem(60);
		}
	}

	&_yext {
		border: 0;
		svg {
			height: 100%;
		}
	}

	&_typescript {
		svg {
			height: rem(50);
		}
	}

	&_photoshop {
		svg {
			height: rem(110);
		}
	}
}