//import the common styles
@import '../../../styles/styles';

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	// background: rgb(200,170,162);
	// background: linear-gradient(90deg, rgb(164 143 142) 6%, rgb(87, 93, 115) 62%, rgb(79, 86, 109) 100%);
// 	background: rgb(83,64,55);
// background: linear-gradient(180deg, rgba(83,64,55,1) 6%, rgba(21,22,21,1) 100%);
background: rgb(112,84,65);
background: linear-gradient(180deg, rgba(112,84,65,1) 0%, rgba(35,37,38,1) 100%);
}

.hero__content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 80vh;
	margin: 0 auto;

	h1 {
		display: flex;
		column-gap: rem(48);
		color: $color-1;
		font-size: 10vw;
		font-weight: 900;
		text-align: center;
		overflow: hidden;
		
		span {
			position: relative;
			display: block;
			
			letter-spacing: 0.05em;
			text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

			span {
				&:nth-child(2) {
					opacity: 0;
					display: block;
					position: absolute;
					top: 0;
				}
	
				&:nth-child(1) {
					opacity: 0;
					
				}
			}
		}
	}

	h2 {
		display: block;
		margin-top: rem(24);
		color: $color-6;
		font-size: rem(50);
		font-weight: 600;
		text-align: center;
		overflow: hidden;
		position: relative;

		span {
			display: block;
			opacity: 0;
			&:nth-child(2) {
				top: 0;
				position: absolute;
				text-shadow: 2px 2px 1px $color-12;
			}
		}
	}

	p {
		position: relative;
		display: block;
		margin-top: rem(24);
		font-size: rem(24);
		font-weight: 400;
		color: $color-1;
		overflow: hidden;

		span {
			display: block;
			opacity: 0;
			&:nth-child(2) {
				top: 0;
				position: absolute;
			}
		}
	}
}

.hero__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: rem(32);
	border: rem(4) solid $color-6;
	border-radius: rem(50);
	width: rem(230);
	height: rem(60);
	background-color: transparent;
	color: $color-1;
	font-size: rem(16);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	opacity: 0;
}

.hero__bg {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	pointer-events: none;
}

.hero__bg_inner {
	position: relative;
	width: 100%;
	height: 100%;
	left: -22vw;
	top: -43vh;
}

.hero__bg_circle_1,
.hero__bg_circle_2,
.hero__bg_circle_3,
.hero__bg_circle_4,
.hero__bg_circle_5,
.hero__bg_circle_6,
.hero__bg_circle_7 {
	position: absolute;
	display: block;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	// box-shadow: 4px -2px 9px -5px rgb(31 32 37 / 59%);
}

.hero__bg_circle_1 {
	// background: rgb(244,228,223);
	// background: linear-gradient(90deg, rgba(244,228,223,1) 0%, rgba(215,197,196,1) 100%);
	width: 30vw;
	height: 30vw;
	background: rgb(232,193,180);
	background: linear-gradient(90deg, rgba(232,193,180,1) 6%, rgba(219,183,175,1) 58%, rgba(201,170,162,1) 100%);
	z-index: 6;
}

.hero__bg_circle_2 {
	width: 50vw;
	height: 50vw;
	background: rgb(227,190,179);
	background: linear-gradient(90deg, rgba(227,190,179,1) 6%, rgba(203,171,164,1) 58%, rgba(176,150,149,1) 100%);
	z-index: 5;
}

.hero__bg_circle_3 {
	width: 70vw;
	height: 70vw;
	background: rgb(223,186,179);
	background: linear-gradient(90deg, rgba(223,186,179,1) 6%, rgba(191,162,158,1) 58%, rgba(158,138,143,1) 100%);
	z-index: 4;
}

.hero__bg_circle_4 {
	width: 90vw;
	height: 90vw;
	background: rgb(207,174,167);
	background: linear-gradient(90deg, rgba(207,174,167,1) 6%, rgba(176,150,149,1) 58%, rgba(140,127,135,1) 100%);
	z-index: 3;
}

.hero__bg_circle_5 {
	width: 110vw;
	height: 110vw;
	background: rgb(200,170,162);
	background: linear-gradient(90deg, rgba(200,170,162,1) 6%, rgba(125,118,128,1) 100%);
	z-index: 2;
}

.hero__bg_circle_6 {
	width: 130vw;
	height: 130vw;
	background: rgb(192,162,158);
	background: linear-gradient(90deg, rgba(192,162,158,1) 6%, rgba(83,90,113,1) 100%);
	z-index: 1;
}

.hero__bg_circle_7 {
	width: 150vw;
	height: 150vw;
}

.planet {
	position: absolute;
	bottom: -60vw;
	left: 5vw;
	width: 90vw;
	height: 90vw;
	z-index: 1;
	opacity: 0.5;

	> div {
		border-radius: 50%;
		border: 1px solid $color-3;
		width: 100%;
		height: 100%;
	}
}

.circle_dashed {
	stroke: $color-8;
	stroke-dasharray: rem(10) rem(15);
	stroke-width: 1px;
	transform-origin: center;
	animation: rotating 80s linear infinite;
	opacity: 0;
}

.circle_dashed_2 {
	stroke: $color-8;
	stroke-dasharray: rem(10) rem(15);
	stroke-width: 1px;
	transform-origin: center;
	animation: rotating 100s linear .2s infinite reverse;
	opacity: 0;
}

.circle_solid {
	stroke: $color-7;
	stroke-width: 1px;
	opacity: 0;
}

.circle_3 {
	stroke: $color-9;
	stroke-width: 1px;
	stroke-dasharray: rem(10) rem(15);
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}