//import the common styles
@import '../../../styles/styles';

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgb(112,84,65);
	background: linear-gradient(180deg, rgba(112,84,65,1) 0%, rgba(35,37,38,1) 100%);
	}

.hero__content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 85vh;
	margin: 0 auto;
	position: relative;
	z-index: 2;

	h1 {
		display: flex;
		column-gap: rem(48);
		color: $color-1;
		font-size: 10vw;
		font-weight: 900;
		text-align: center;
		overflow: hidden;
		
		span {
			position: relative;
			display: block;
			
			letter-spacing: 0.05em;
			text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

			span {
				&:nth-child(2) {
					opacity: 0;
					display: block;
					position: absolute;
					top: 0;
				}
	
				&:nth-child(1) {
					opacity: 0;
					
				}
			}
		}
	}

	h2 {
		display: block;
		margin-top: rem(24);
		color: $color-6;
		font-size: rem(50);
		font-weight: 600;
		text-align: center;
		overflow: hidden;
		position: relative;

		span {
			display: block;
			opacity: 0;
			&:nth-child(2) {
				top: 0;
				position: absolute;
				text-shadow: 2px 2px 1px $color-12;
			}
		}
	}

	p {
		position: relative;
		display: block;
		margin-top: rem(24);
		font-size: rem(24);
		font-weight: 400;
		color: $color-1;
		overflow: hidden;

		span {
			display: block;
			opacity: 0;
			&:nth-child(2) {
				top: 0;
				position: absolute;
			}
		}
	}
}

.hero__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: rem(32);
	border: rem(4) solid $color-6;
	border-radius: rem(50);
	width: rem(230);
	height: rem(60);
	background-color: transparent;
	color: $color-1;
	font-size: rem(16);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	opacity: 0;
}

.hero__bg {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	pointer-events: none;
}

.hero__bg_inner {
	position: relative;
	width: 100%;
	height: 100%;
	left: -22vw;
	top: -43vh;
}

.planet {
	position: absolute;
	bottom: -60vw;
	left: 5vw;
	width: 90vw;
	height: 90vw;
	z-index: 1;
	opacity: 0.5;

	> div:nth-child(1) {
		border-radius: 50%;
		border: 1px solid $color-3;
		width: 100%;
		height: 100%;
	}
}

.circle_dashed {
	stroke: $color-8;
	stroke-dasharray: rem(10) rem(15);
	stroke-width: 1px;
	transform-origin: center;
	animation: rotating 80s linear infinite;
	opacity: 0;
}

.circle_dashed_2 {
	stroke: $color-8;
	stroke-dasharray: rem(10) rem(15);
	stroke-width: 1px;
	transform-origin: center;
	animation: rotating 100s linear .2s infinite reverse;
	opacity: 0;
}

.circle_solid {
	stroke: $color-7;
	stroke-width: 1px;
	opacity: 0;
}

.circle_3 {
	stroke: $color-9;
	stroke-width: 1px;
	stroke-dasharray: rem(10) rem(15);
}

.planet__saturn {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.planet__saturn_planet {
	position: relative;
	background: linear-gradient(to bottom, #fecf4e 1%, #a62a44 50%, #310441 100%);
	display: block;
	border-radius: 50%;
	width: 7vw;
	height: 7vw;
	left: 13vw;
	top: 18vw;
	overflow: hidden;
}

.planet__saturn_ring_before,
.planet__saturn_ring_after {
	position: absolute;
	border-radius: 50%;
	width: 9vw;
	height: 2vw;
	border: 3px solid $color-10;
	transform: skew(-74deg);
	left: 12vw;
	top: 20.5vw;
}

.planet__saturn_ring_before {
	-webkit-clip-path: inset(0 0 50% 0);
	clip-path: inset(0 0 50% 0);	
}

.planet__saturn_ring_after {
	-webkit-clip-path: inset(50% 0 0 0);
	clip-path: inset(50% 0 0 0);	
}

.planet__earth {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.planet__earth_planet {
	position: relative;
	background: linear-gradient(to bottom, #70a27d 23%, #4552a1 58%, #371a6a 100%);
	display: block;
	border-radius: 50%;
	width: 5vw;
	height: 5vw;
	left: 58vw;
	top: 27vw;
	overflow: hidden;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}