//font-size
$base-font-size: 16px;

$color-white: #fff;

$color-1: #f9f8f8;
$color-2: #695575;
$color-3: #817091;
$color-4: #5A5f75;
$color-5: #446594;
$color-6: #f197a3;
$color-7: #e4c0c0;
$color-8: #ef8e73;
$color-9: #f5baa6;
$color-10: #796985;
$color-11: #4b5269;
$color-12: #604f6f;