:root {
  --foreground: 0, 0, 0;
  --color-white: #fff;

  --color-1: #f3f3f2;
  --color-2: #232526;
  --color-3: #bf8f73;
  --color-4: #ead2b4;
  --color-5: #e3dbd2;
  --color-6: #d4b29c;
  --color-7: #c29268;
  --color-8: #a9694d;
  --color-9: #894f2c;
  --color-10: #b48c50;
  --color-11: #754736;
  /* ;
  --color-5: #5f2f11; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-3);
  background-color: var(--color-2);
  min-height: 100dvh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
