//import the common styles
@import '../../../styles/styles';

.contact {
	display: block;
	width: 100%;
	padding: rem(200) rem(24) rem(80);
	position: relative;
	// z-index: 1;

	h2 {
		color: $color-5;
	}
}

.contact__inner {
	display: flex;
	justify-content: center;
	column-gap: rem(60);
	max-width: rem(1000);
	margin: 0 auto;
	position: relative;
	z-index: 3;
}


.contact__social_line {
	display: block;
	width: 100%;
	height: rem(2);
	margin: rem(16) 0 rem(48);
	background-color: $color-4;
}

.contact__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(80);
	height: rem(80);
	border-radius: 50%;
	border: rem(2) solid $color-4;
}

.contact__item{
	margin-top: rem(32);
	
	svg {
		width: rem(48);
		height: rem(32);

		path {
			fill: $color-4;
		}
	}

	a {
		display: flex;
		align-items: center;
		column-gap: rem(24);
	}

	span {
		display: block;
		color: $color-4;
		font-size: rem(20);
	}
}


.contact__form {
	width: calc(100% - rem(432));

	label {
		transition: transform 0.3s ease-out;
		color: $color-9;
		position: absolute;
		top: rem(15);
		left: rem(15);
		z-index: 1;
	}

	input {
		background-color: $color-6;
		width: 100%;
		height: rem(48);
		border-radius: rem(100);
		border: 0;
		padding: rem(5) rem(15);
		// box-shadow: 0px 2px 0px 0px $color-3, 0px 2px 4px 0px $color-3;
		color: $color-9;
		font-size: rem(16);

		&:focus {
			outline: 0;
		}

		&:focus-visible {
			outline: rem(2px) solid $color-6;
		}
	}

	textarea {
		background-color: $color-6;
		width: 100%;
		height: rem(200);
		border-radius: rem(20);
		border: 0;
		padding: rem(15) rem(15);
		// box-shadow: 0px 2px 0px 0px $color-7, 0px 2px 4px 0px $color-7;
		color: $color-9;
		font-size: rem(16);

		&:focus {
			outline: 0;
		}

		&:focus-visible {
			outline: rem(2px) solid $color-6;
		}
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(42);
		min-width: rem(150);
		padding: 0 rem(20);
		color: $color-1;
		font-size: rem(18);
		font-weight: 500;
		text-transform: uppercase;
		border-radius: rem(100);
		background-color: $color-11;
		border: 0;
	}
}

.contact__form__item {
	position: relative;
	margin-bottom: rem(50);
}

.label_animated {
  transform: translateY(-45px);
  color: #666;
}

.moon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: rem(-250);
	right: rem(-120);
	width: rem(500);
	height: rem(500);
	z-index: 2;

	span {
		border-radius: 50%;
		border: 1px solid $color-11;
		position: absolute;
		display: block;
		animation: rotating 50s linear .2s infinite;

		&:nth-child(1) {
			width: 100%;
			height: 100%;

			&::before {
				content: '';
				position: absolute;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				background-color: $color-8;
				left: 0;
				top: 33%;
				box-shadow: 52px 141px 0 -4px #75410a, 237px -87px 0 -2px #894f2c, 349px 192px 0 -6px #aa694d, 290px -170px 0 -4px #8f8983, 244px 322px 0 1px #a98a76, 437px 48px 0 -2px #5e3912;
				z-index: 1;
			}
		}

		&:nth-child(2) {
			width: 80%;
			height: 80%;
		}

		&:nth-child(3) {
			width: 65%;
			height: 65%;
		}
	}
}

.moon__face {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(210);
	height: rem(210);
	border-radius: 50%;
	background-color: $color-4;
	box-shadow: 0 0 0 23px $color-3;

	&::before {
		content: '';
		position: relative;
		background-image: url("/assets/moon.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		width: rem(200);
		height: rem(200);
		right: -9px;
	}
}

.sun {
	position: absolute;
	top: rem(-100);
	left: rem(-100);
	width: rem(500);
	height:rem(500);
	background-image: url('/assets/sun-face.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}