//import the common styles
@import '../../styles/styles';

.contact {
	display: block;
	background-color: $color-3;
	width: 100%;
	padding: rem(100) rem(24);

	h2 {
		color: $color-white;
		font-size: rem(32) !important;
	}
}

.contact__inner {
	display: flex;
	column-gap: rem(60);
	max-width: rem(1000);
	margin: 0 auto;
}

.contact__social {
	width: rem(400);
}

.contact__social_line {
	display: block;
	width: 100%;
	height: rem(2);
	margin: rem(16) 0 rem(48);
	background-color: $color-white;
}

.contact__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(80);
	height: rem(80);
	border-radius: 50%;
	border: rem(2) solid $color-white
}

.contact__email,
.contact__number {
	a {
		display: flex;
		align-items: center;
		column-gap: rem(24);
	}

	span {
		display: block;
		color: $color-white;
		font-size: rem(20);
	}
}

.contact__email {
	margin-top: rem(32);
	svg {
		width: rem(48);
		height: rem(32);

		path {
			fill: $color-white;
		}
	}
}

.contact__number {
	margin-top: rem(32);
	svg {
		width: rem(48);
		height: rem(32);

		path {
			fill: $color-white;
		}
	}
}

.contact__form {
	width: calc(100% - rem(432));

	input {
		width: 100%;
		height: rem(48);
		border-radius: rem(100);
		border: 0;
		padding: rem(5) rem(15);
	}

	textarea {
		width: 100%;
		height: rem(200);
		border-radius: rem(20);
		border: 0;
		padding: rem(5) rem(15);
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(42);
		min-width: rem(150);
		padding: 0 rem(20);
		color: $color-white;
		font-size: rem(18);
		font-weight: 500;
		text-transform: uppercase;
		border-radius: rem(100);
		background-color: $color-6;
		border: 0;
	}
}

.contact__form__item {
	margin-bottom: rem(24);
}