@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,900;1,700&family=Pacifico&display&family=Montserrat:wght@300;500;700;800;900&family=Allura&display=swap');
// font-family: 'Freckle Face', cursive;
// font-family: 'New Tegomin', serif;
$pacifico-font: 'Pacifico', cursive;
$base-font-family: 'Montserrat', sans-serif;
$gothic: "Yu Gothic", YuGothic, sans-serif;
$montserrat: "Montserrat", sans-serif;
$allure-font: 'Allura', cursive;

$base-font-color: #ffedce;
$base-color: #1a1a1a;

$color-primary: #000;
$color-secondary: #ffb633;

$color-1: #ea9a96;
$color-2: #ffba59;

$color-3: #b5155c;
$color-4: #f79593;
$color-5: #fbede6;


$color-1st: #141827;
$color-2nd: #140a7e;

$color-3rd: #3e284f;
$color-4th: #3e284f;
$color-5th: #554463;
$color-6th: #705586;


$color-redish-1: #b5155c;
$color-redish-2: #e81f78;
$color-redish-3: #e71f76;
$color-redish-4: #ff4c9c;


$color-yellowish-1: #fec295;
$color-yellowish-2: #fedf93;
$color-yellowish-3: #feeca5;
$color-yellowish-4: #fefec0;


$color-aquaish-1: #03af9d;
$color-aquaish-2: #08d3be;
$color-aquaish-3: #05e2c9;
$color-aquaish-4: #02f6d8;

$color-blueish-1: #1488bb;
$color-blueish-2: #26a6dc;
$color-blueish-3: #7ccef0;


$color-moon-1: #f6f6f6;
$color-moon-2: #c6c5c9;

$color-pinkish-1: #ff8c9e;
$color-pinkish-2: #fdcfd7;


// $base-font-color: #5d3f5a;
// $base-color: #f6bfc2;
//
// $color-1: #f6bfc2;
// $color-2: #be92bc;
//
// $color-3: #5e3e55;
// $color-4: #f79593;
// $color-5: #fbede6;
